<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Flysystem Azure Blob Storage Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <php>
        <env name="AZURE_STORAGE_ACCOUNT" value="your-account-name"/>
        <env name="AZURE_STORAGE_KEY" value="your-account-key"/>
        <env name="AZURE_STORAGE_CONTAINER" value="test-container"/>
    </php>
</phpunit>